@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
.bg-img{
  background-image: url('../src/assets/Events/desktopbg.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: scroll;
}
@media (max-width:520px) {
  .bg-img{
    background-image: url('../src/assets/Events/phonebg.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: scroll;
  } 
}